# Python environment
venv/
.env
__pycache__/
*.pyc

# Dataset large files
HumanML3D_generator/amass_data/
HumanML3D_generator/joints/
HumanML3D_generator/poses/
HumanML3D_generator/body_models/
HumanML3D_generator/pose_data/
HumanML3D_generator/new_joint_vecs/
HumanML3D_generator/new_joints/
VideoAlignment/dataset/

# Compressed archives
*.zip
*.tar.*
*.npz
*.pkl
!humanml3D_train.pkl
!humanml3D_test.pkl
!humanml3D_val.pkl

# Logs and outputs
*.log
*.out
*.err
results/pretrain/train_logs/
585*